body {
    background: url(images/body_bg.png) repeat-x scroll 0 0 #f0eef5;
    color: #7d8b8d;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 25px;
    min-height: 101%;
}

body, div, h1, h2, h3, h4, h5, h6, ul, li, img {
    margin: 0;
    padding: 0;
}

.blogStats {
    display: none;
}

#blogTitle {
    height: 250px;
    clear: both;
    width: 1200px;
    background: url("http://s2.sinaimg.cn/orignal/001KAQy8zy7qXuaF9N15b");
    background-size: 100%;
    border-top: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    border-radius: 4px 4px 0px 0px;
    margin: 0 auto;
    position: relative;
}

#blogTitle a {
    color: #ffffff;
    text-shadow: 0px 0px 16px #000;
    text-decoration: none;

}

#blogTitle a:hover {
    color: #e8e8e8;
    text-decoration: none;
}

#blogTitle a:link {
    color: #000;
    text-decoration: none;
}

#blogTitle h1 {
    font-size: 30px;
    width: 310px;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 80px;
    font-weight: normal;
}

#blogTitle h2 {
    width: 550px;
    position: relative;
    height: 75px;
    font-weight: normal;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
    text-shadow: 0px 0px 16px #000;
    top: 20px;
    font-size: 16px;
}

#navigator {
    height: 60px;
    clear: both;
    position: relative;
    border-left: none;
    border-right: none;
}

#navList {
    width: 1200px;
    margin: 0 auto;
    height: 60px;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0px 0px 4px 4px;
    border-left: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
}

h5, h6, ul, li, img {
    margin: 0;
    padding: 0;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

#navList li {
    float: left;
    height: 60px;
    line-height: 60px;
    list-style-type: none;
}

#navList a:hover {
    color: #00a1d6;
    text-decoration: none;
    border-bottom: 4px solid #00a1d6;
}

#navList a {
    padding: 0 20px;
    font-size: 16px;
    display: block;
    color: #292929;
    text-decoration: none;
}

#main {
    width: 1200px;
    margin: 20px auto 0;
    clear: both;
}

#mainContent {
    background: none;
    float: left;
    overflow: visible;
    text-overflow: ellipsis;
    width: 890px;
    word-break: break-all;
}

#mainContent .forFlow {
    float: none;
    width: 100%;
}

.day {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #dedede;
    margin-bottom: -1px;
}

.day .postTitle {
    font-size: 21px;
    line-height: 1.5em;
    float: left;
    clear: right;
}

.postSeparator {
    border-top: 1px dashed silver;
    margin: 20px 0;
    clear: both;
}

.postCon {
    padding: 15px 0;
    clear: both;
}

.topicListFooter {
    margin-top: 15px;
    height: 68px;
    line-height: 68px;
    font-size: 16px;
}

.dayTitle {
    border: 1px solid #fb7299;
    border-radius: 100px;
    padding: 3px 12px;
    font-size: 12px;
    display: block;
    float: left;
    margin-right: 10px;
    z-index: 10;
}

.dayTitle:hover {
    color: #fff;
    background-color: #fb7299;
}

.dayTitle a {
    color: #fb7299;
    text-decoration: none;
}

.dayTitle a:hover {
    color: #fff;
    text-decoration: none;
}

.postTitle a {
    font-weight: bold;
    color: #0e7fbc;
    text-decoration: none;
}

.postTitle a:hover {
    color: #fb7299;
    text-decoration: underline;
}

.c_b_p_desc {
    font-size: 14px;
    color: #696969;
    line-height: 200%;
}

.c_b_p_desc_readmore {
    padding: 3px 12px;
    border-radius: 100px;
    text-decoration: none;
    border: 1px solid #bcbcbc;
    margin-left: 10px;
}

.c_b_p_desc_readmore:hover {
    color: #858585;
    border: 1px solid #858585;
}

a.c_b_p_desc_readmore {
    color: #bcbcbc;
    text-decoration: none;
}

.postDesc {
    clear: both;
    color: #bcbcbc;
    float: none;
    text-align: left;
    line-height: 200%;
    font-size: 13px;
}

.postDesc a {
    color: #00a1d6;
    text-decoration: none;
}

.postDesc a:hover {
    color: #fb7299;
    text-decoration: none;
}

#sideBar {
    width: 290px;
    margin-left: 20px;
    float: left;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: visible;
    word-break: break-all;
}

.clear {
    clear: both;
}

#footer {
    text-align: center;
    min-height: 15px;
    _height: 15px;
    margin-top: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    color: #333;
}

.newsItem{
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #dedede;
    border-radius: 4px;
    margin-bottom: 20px;
}

.catListTitle {
    font-size: 18px;
    padding: 10px 20px;
    color: #4a4a4a;
    font-weight: normal;
    border-bottom: 1px solid #dedede;
}

#blog-news {
    overflow: visible;
    margin-bottom: 20px;
}

#profile_block {
    padding: 20px;
    color: #7e8c8d;
    font-size: 13px;
    line-height: 1.8;
}

#profile_block a {
    color: #00a1d6;
    text-decoration: none;
    font-size: 13px;
}

#profile_block a:hover {
    color: #fb7299;
    text-decoration: none;
}

.Cal {
    width: 100%;
}

#blog-calendar{
    border: 1px solid #dedede;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
}


table.Cal {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #dedede;
    border-collapse: collapse;
}
table.Cal th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    color: #FFF;
    border-color: #00a1d6;
    background-color: #00a1d6;
}
table.Cal td {
    border-width: 1px;
    padding: 5px;
    border-style: solid;
    border-color: #dedede;
    background-color: #ffffff;
}

.CalTodayDay{
    background-image: url("/images/point.png");
    background-size: 100%;
}

.CalOtherMonthDay{
    color: #b2b2b2;
}

.CalWeekendDay{
    background-image: url("/images/week.png");
    background-size: 100% 100%;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

table.Cal a{
    text-decoration: none;
}


table.Cal u{
    text-decoration: none;
    color: #ff9b17;
    font-weight: bold;
}
